# My ignores
Math\ 575B\ -\ Algorithms/Example\ Code/*
*fsac.cache*
.ionide/*
*assets.cache*

# VS Files
**/**/.vs
*fsproj*
!*fsproj

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.gitignore
Math 575B - Algorithms/Homework1 - 20210131/Homework1/obj/Debug/netcoreapp3.1/Homework1.assets.cache
Math 575B - Algorithms/Homework 2 - 20210214/Homework2/obj/project.nuget.cache
Math 575B - Algorithms/Homework 2 - 20210214/Homework2/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.fs
Math 575B - Algorithms/Homework 2 - 20210214/Homework2/obj/Debug/net5.0/Homework2.AssemblyInfo.fs
Math 575B - Algorithms/Homework 2 - 20210214/Homework2/obj/Debug/net5.0/Homework2.AssemblyInfoInputs.cache
Math 575B - Algorithms/Homework 2 - 20210214/Homework2/obj/Debug/net5.0/Homework2.genruntimeconfig.cache
Math 575B - Algorithms/Homework 2 - 20210214/Homework2/obj/project.assets.json
Math 575B - Algorithms/Homework 2 - 20210214/Homework2/bin/Debug/net5.0/Homework2.runtimeconfig.json
Math 575B - Algorithms/Homework 2 - 20210214/Homework2/bin/Debug/net5.0/Homework2.runtimeconfig.dev.json
Math 575B - Algorithms/Homework 2 - 20210214/Homework2/bin/Debug/net5.0/Homework2.deps.json
Math 575B - Algorithms/Homework 2 - 20210214/Homework2/.vscode/tasks.json
Math 575B - Algorithms/Homework 2 - 20210214/Homework2/.vscode/launch.json
Math 575B - Algorithms/Homework 2 - 20210214/Homework2/.ionide/symbolCache.db
.vscode/launch.json
Math 575B - Algorithms/Homework1 - 20210131/Homework1/bin/Debug/netcoreapp3.1/Homework1.deps.json
Math 575B - Algorithms/Homework1 - 20210131/Homework1/bin/Debug/netcoreapp3.1/Homework1.runtimeconfig.dev.json
Math 575B - Algorithms/Homework1 - 20210131/Homework1/bin/Debug/netcoreapp3.1/Homework1.runtimeconfig.json
Math 575B - Algorithms/Homework1 - 20210131/Homework1/obj/project.assets.json
Math 575B - Algorithms/Homework1 - 20210131/Homework1/obj/project.nuget.cache
Math 575B - Algorithms/Homework1 - 20210131/Homework1/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.fs
Math 575B - Algorithms/Homework1 - 20210131/Homework1/obj/Debug/netcoreapp3.1/Homework1.AssemblyInfo.fs
Math 575B - Algorithms/Homework1 - 20210131/Homework1/obj/Debug/netcoreapp3.1/Homework1.AssemblyInfoInputs.cache
Math 575B - Algorithms/Homework1 - 20210131/Homework1/obj/Debug/netcoreapp3.1/Homework1.genruntimeconfig.cache

.fake
.ionide
/Algorithms/HW4/bin/
/Algorithms/HW4/obj/
Algorithms/Final Exam/__pycache__/*
Algorithms/HW5/obj/project.nuget.cache
Algorithms/HW5/obj/project.assets.json
